.body {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.body__row {
    display: flex;
    width: 100%;
    border-top: solid 1px lightgray;
    padding-block: 10px;
}

.body__genre {
    display: flex;
    width: 100%;
    border-top: solid 1px lightgray;
    padding-block: 10px;
    justify-content: space-between;
}

.body__header {
    display: flex;
    width: 100%;
    font-weight: bold;
    padding-block: 10px;
}

.body__row_user-registration {
    width: 17%;
}

.body__row_user-id {
    width: 10%;
}

.body__row_user-role {
    width: 14%;
}

.body__row_user-name {
    width: 25%;
}

.body__row_user-email {
    width: 34%
}

.body__row_movie-id {
    width: 7%;
}

.body__row_movie-title {
    width: 32%;
}

.body__row_movie-genre {
    width: 12%;
}

.body__row_movie-rating {
    width: 7%;
}

.body__row_movie-release {
    width: 11%;
}

.body__row_movie-comment {
    width: 29%;
}

.body__row_movie_btns {
    height: 24px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: 5%;
}

.body__row_movie_btns_menu {
    width: auto;
    font-size: 15px;
    border: 1px solid blue;
    border-radius: 12px;
}

    .body__row_movie_btns_menu:hover {
        background-color: lightgreen;
        color: white;
    }
    
    .body__row_movie_btns_menu:active {
        background-color: green;
    }

.body__row_movie_btns_container {
    width: max-content;
    background-color: white;
    border: solid blue 1px;
    border-radius: 22px;
    position: absolute;
    right: 150%;
    top: -100%;
    display: flex;
    flex-direction: column;
}

    .body__row_movie_btns_container a:hover {
        color: blue;
        background-color: lightgreen;
        transition: 0.2s;
    }
    
    .body__row_movie_btns_container a:active {
        color: white;
        background-color: green;
        transition: none;
    }

.body__row_movie_btns_container img {
    height: 17.5px;
}

.body__row_movie_btns_container_edit {
    text-decoration: none;
    padding: 10px 10px 5px;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    word-spacing: 15px;
}

.body__row_movie_btns_container_delete {
    text-decoration: none;
    padding: 5px 10px 10px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}