form input:hover, form textarea:hover {
    border: outset 2px #b1b1b1;
}

form input:focus, form textarea:focus {
    border-color: transparent;
}

.container-btns {
    display: flex;
    justify-content: space-around;
}

.msg-validation {
    color: red;
    font-size: small;
    display: block;
}

.form {
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: baseline;
}

.form p {
    width: 100%
}

.form__input-width-full {
    border: solid 2px lightgray;
    border-radius: 9px;
    width: 100%;
    font: inherit;
}

.form__input-width-half {
    border: solid 2px lightgray;
    border-radius: 9px;
    width: 50%;
}

.form__list {
    border: solid 2px lightgray;
    border-radius: 9px;
    cursor: pointer;
    width: 100%;
}

    .form__list:hover {
        border: outset 2px #b1b1b1;
    }