html {
    font-size: 14px;
    line-height: 24px;
}

body {
    margin-bottom: 30px;
    font-family: Arial;
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

ul {
    margin: 0;
}

a {
    color: royalblue;
}

p {
    margin-top: 0;
}

small {
    font-size: 14px;
}

button, input, optgroup, select, textare {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

img, svg {
    vertical-align: middle;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
}

h2 {
    margin-bottom: 25px;
    font-size: 34px;
}

button {
    border-radius: 10px;
}

.nav {
    border-bottom: 1px solid #dee2e6;
    padding: 7px 3%;
    display: flex;
    flex-flow: row;
    font-size: 18px;
}

.nav_img {
    pointer-events: none;
    height: 52px;
}

.nav_list {
    display: flex;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    gap: 20px;
}

.nav_list_link {
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.nav_list_name {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.nav_list_logout {
    margin-left: auto;
    display: flex;
    gap: 5px;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.required-asterisk {
    color: red;
}

.button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    display: inline-block;
    border-radius: 11px;
}

    .button:hover {
        background-color: #d6d6d6;
    }

    .button:active {
        background-color: #624e40;
        color: white;
    }

    .button:disabled {
        background-color: #f7fffc;
        color: #999;
        border: 1px solid #3333;
    }

.button-sort {
    text-decoration: none;
    border: 1px solid blue;
    padding: 2px;
    color: black;
    border-radius: 8px;
    transition: 0.3s;
}

    .button-sort:hover {
        background-color: lightgreen;
    }

.pages {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.pages_current {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    align-content: center;
    text-align: center;
    color: white;
    background-color: blue;
    text-decoration: none;
    pointer-events: none;
}

.pages_number {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    align-content: center;
    text-align: center;
    border: 1px solid blue;
    transition: 0.3s;
}

.pages_number:hover {
    background-color: lightgreen;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__block {
    border: solid 1px lightgrey;
    box-shadow: lightgray 0px 0px 10px -3px inset;
    width: 400px;
    height: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 19px;
    font-size: large;
    border-radius: 10px;
    pointer-events: all;
    position: absolute;
}

.modal__block_description {
    align-self: center;
    font-size: 18px;
    text-align: center;
}

.modal_reload {
    align-self: center;
    font-size: 18px;
    text-align: center;
}

.modal__block_btns {
    display: flex;
    justify-content: space-evenly;
}

.modal__block_btns_confirm {
    width: 67px;
    border-radius: 13px;
}

.modal__block_btns_cancel {
    width: 67px;
    border-radius: 13px;
}

.modal__block_close {
    align-self: end;
    width: 30px;
    height: 30px;
    margin-top: -19px;
    margin-right: -19px;
    border: none;
    border-radius: 0 7px 0 5px;
}

    .modal__block_close:hover {
        background-color: red;
        color: white;
    }

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #dee2e6;
    margin-block: -20px 35px;
    gap: 30px;
    padding: 17px 3%;
    background-color: #eeeeee0d;
}

.menu p {
    margin: 0;
}

.menu__search {
    display: flex;
    border: solid 1px grey;
    border-radius: 13px;
    background-color: white;
    margin-left: auto;
}

    .menu__search:hover .menu__search_genre:has(>option[value="0"]:checked) {
        color: #4d4d4d;
    }

.menu__search_text {
    border-radius: 13px 0 0 13px;
    border: none;
    background-color: inherit;
    padding-left: 6px;
}

    .menu__search_text:focus-visible {
        outline: none;
    }

.menu__search_genre {
    border-radius: unset;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: #4d4d4d;
    transition: 0.3s;
    transition-property: color;
}

    .menu__search_genre:hover {
        background-color: #e3e3e3;
    }

    .menu__search_genre:focus-visible {
        outline: none;
    }

    .menu__search_genre:has(>option[value="0"]:checked) {
        color: transparent;
    }

    .menu__search_genre:focus:has(>option[value="0"]:checked) {
        color: #4d4d4d;
    }

.menu__search_submit {
    border-radius: 0 13px 13px 0;
    border: none;
    background-color: inherit;
    padding-inline: 8px 9px;
}

    .menu__search_submit:hover {
        background-color: #e3e3e3;
    }