@model string

<div id="modal">
    <div id="modal__block">
        <button id="modal__block_close">✖</button>
        <p id="modal__block_description">@Model</p>
        <div id="modal__block_btns">
            <button id="modal__block_btns_confirm">Ok</button>
            <button id="modal__block_btns_cancel">Cancel</button>
        </div>
    </div>
</div>

<script src="~/js/modalScript.js"></script>